<%- include('../partials/header') %>
  <% pictures.forEach(function(p){%>
    <div class="theme">
    <div class="pic-comment-container">
      <div class="pic-container">
        <img id="pics" src="<%= p.piccontent %>" alt="" />
        <p class="caption">
          <%= p.caption %>
        </p>
        <form action="/pictures/like" method="POST">
          <input type="hidden" name="pictureId" value="<%= p._id %>">
                <button class="like-btn" data-picture-id="<%= p._id %>">
                  Like
                </button>
                </form>
                <span class="likes-count">
                  <%= p.likes.length %> likes
                </span>
      </div>
      <div class="comment-container">
        <div class="table-responsive">
        <table class="table bg-white">
          <thead class="thead-light">
            <tr>
              <th scope="col">User Avatar</th>
              <th scope="col">User Name</th>
              <th scope="col">Date Created</th>
              <th scope="col">Likes</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          </table>
          </div>
        <% p.comments.forEach(function(comment){%>
          <div class="user-container">
          <div><img id="avatar" src="<%= comment.userAvatar %>" referrerpolicy="no-referrer"></div>
          <div><%= comment.userName %></div>
          <div><%= comment.createdAt.toLocaleDateString() %></div>
            <div><img id="avatar" src="https://media.istockphoto.com/id/639471866/photo/red-patterned-wooden-heart-isolated-on-white-background-valentine-day.jpg?s=1024x1024&w=is&k=20&c=KWMIM-XOff33b23piyomBuaY3e5R8P5GL7YCb1X8PXo=" id="likes"></div>
            <div>
              <% if (user?._id.equals(comment.user)) { %>
                <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button id="avatar" type="submit">X</button>
                </form>
                <% } %>
              </div>
          </div>

          <div class="container">
            <label class="comment-label">Comment : </label>
              <p>
            <%= comment.content %>
          </p>
          </div>
          <a href="/comments/<%=comment._id%>/edit" id="edit" class="btn btn-warning">Edit Comment</a>
          <%})%>
            <form id="add-comment-form" method="POST" action="/pictures/<%=p._id %>/comments">
              <div class="form-group"></div>
              <input type="comments" name="content" class="form-control" id="add-comment" placeholder="Add Comment">
              </div>
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                          
            </form>

      </div>
    </div>
    <% }) %>
    </div>